
/* slider */
* {
    box-sizing: border-box;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 0;
}
.slide-img {
    max-width:100%;
}
.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}
.slider-nav .slick-current {
    border: 2px dashed #0aa1bc;
}



/* product specification */

.product-details {
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
.product-features {
    font-weight:bold;
    font-size: 18px;
    text-align:left;
    align-items: start;
}
.product-features li {
    font-size:10px;
}

/* navbar tabs*/

.nav-tabs > li.active > a {
    border:none;
    color:black;
}
.nav-tabs {
    border-bottom: 2px solid #DDD;
}
.nav-tabs .nav-link:hover {
    border-color:white;
    border-bottom: 2px solid #0aa1bc;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-bottom: 2px solid #0aa1bc;
}
.nav-tabs > li > a {
    border: none;
    color: #666;
}
.nav-tabs > a, .nav-tabs > li {
    border: none;
    color: #4285F4 !important;
    background: transparent; }

.tab-content{
    padding:50px;
    font-size:15px;
    color:gray;
    font-weight:bold;
}
.nav-tabs > li {
    color:black;
    font-weight:bold;
}


/* Media queries */

@media only screen and (max-width:767px) {

    .slider-nav div {
        margin:0;
        width:450px;
    }
    .slider-nav img {
        height:50px;
    }
}