
/* slider */
* {
    box-sizing: border-box;
}
.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}
slide-img {
    height:100%;
    width:30%;
}
.regular .slider {
    height:100%;
    width:100%;
}
.slider-nav .slick-current {
    border: 2px dashed #0aa1bc;
}

/* product specification */

.product-details {
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
.product-features {
    font-weight:bold;
    font-size: 18px;
    text-align:left;
    align-items: start;
}
product-features li {
    font-size:10px;
}

/* navbar tabs*/

.nav-tabs > li.active > a {
    border:none;
    color:black;
}
.nav-tabs {
    border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}
.nav-tabs > li > a {
    border: none;
    color: #666;
}
.nav-tabs > a, .nav-tabs > li {
    border: none;
    color: #4285F4 !important;
    background: transparent; }
.nav-tabs > li > a::after {
    content: "";
    background: #0aa1bc;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s; transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%; color: #fff;
}

.tab-pane {
    padding: 50px;
    margin-left:20px;
}
.tab-content{
    padding:50px;
    font-size:15px;
    color:gray;
    font-weight:bold;
}
.nav-tabs > li {
    color:black;
    font-weight:bold;
}

