/* navbar */
.main-nav {
    font-weight:bold;
    font-size:14px;
}
.main-nav li {
    margin:4px;
}
.navbar-logo {
    width:100px;
}
.products-nav {
    text-align: center;
    font-size:10px;
    font-weight:bold;
}
.product-img {
    height:30px;
    width:60px;
}
 /* display product */
.new-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
    display:inline-block;
}
.items-img img {
    width:200px;
}
.items-img:hover {
    border: 10px solid silver;
}

/* product details */

.price {
    font-size:13px;
}
.price strike
{
    color:gray;
    opacity:0.5;
}
.items-btn {
    color:white;
    background-color:#0aa1bc;
    font-weight:bold;
    padding:7px 30px;
    font-size:10px;
}
.item-description {
    color:black;
    font-weight:bold;
    font-size:15px;
    align-right:20px;
}

/* general */


.inc_dec {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    border: solid 2px #0aa1bc;
    color:#0aa1bc;
    background:transparent;
    text-align: center;
}
.pagination {
    font-size:14px;
    color:white;
    font-family:Dekko;
}
.add-to-cart {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    border: solid 2px #0aa1bc;
    color:#0aa1bc;
    background:transparent;
}
.no-border-radius {
    border-radius:0px;
}
.signin-btn {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    color:#0aa1bc;
    background:transparent;
    font-size:12px;
    border: solid 1px #0aa1bc;
}
.search-btn {
    font-size:13px;
    text-align: center;
}




/* footer */

.footer-container {
    clear:both;
    border-top: 1px solid lightgray
}
.footer-item
{
    color:gray;
    font-size:13px;
}
.subscribe-button {
    margin-left: 10px;
    background-color:#0aa1bc;
    color:white;
    font-size:11px;
    border-radius:20px;
    text-align:center;
    padding:10px;
}
.subscribe-email {
    border-color:white;
    font-size:11px;
    text-align:center;
    border-radius:20px;
}









