/* general */


.add-to-cart {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    border: solid 2px #0aa1bc;
    color:#0aa1bc;
    background:transparent;
}
.no-border-radius {
    border-radius:0px;
}
.signin-btn {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    color:#0aa1bc;
    background:transparent;
    font-size:12px;
    border: solid 1px #0aa1bc;
}
.search-btn {
    font-size:13px;
    text-align: center;
}




/* footer */

.footer {
    clear:both;
}
.footer-item
{
    color:gray;
    font-size:13px;
}
.subscribe-button {
    margin-left: 10px;
    background-color:#0aa1bc;
    color:white;
    font-size:10px;
    border-radius:20px;
    padding:4px;
    width:100px;
}
.subscribe-email {
    border-color:white;
    font-size:11px;
    padding:20px;
    text-align:center;
    border-radius:20px;
}









